In [ ]:
Removing Whitespaces from Strings

In [7]:
name="python"
print(name)

python

In [4]:
name2='  python'##leftside gap
print(name2)

  python

In [9]:
name3='python  '##rightside gap
print(name3)

python

In [ ]:
###  we have to use (strip) method

In [10]:
name2.lstrip()

'python'

name3.rstrip()

In [11]:
name3.rstrip()

'python'

In [12]:
name4='   python  '
print(name4)

   python

In [13]:
name4.strip()

'python'

In [ ]:
Introduction to List datatype
a. definition
collection of items declared in a particular order
b. classification:As an mutable data type
c. how to define the list...?
defined by []

In [16]:
students=['anil','kumar','sreya','keerthi']
print(students)

['anil', 'kumar', 'sreya', 'keerthi']

In [17]:
type(students)     ######to know which data type

list

In [ ]:
### req: i want to access keerthi from the above list?

how to do?
by indexing

In [ ]:
Introduction to Indexing
0,1,2,3,.....n(names will be maintained or assigned from 0,1,2,3,...n)

In [18]:
print(students[1])

kumar

In [19]:
print(students)

['anil', 'kumar', 'sreya', 'keerthi']

In [24]:
### how to add new elements to the list?
#how to modify the elements to the list?
#how to delete elements to the list?

#  **Method I
append
#ans: 1. want to add naveen to the list
students.append('naveen')
print(students)

['anil', 'kumar', 'sreya', 'keerthi', 'naveen']

In [ ]:
##If I want to add pallavi to second index
##we need to follow 

##method II
##Insert

In [34]:
students.insert(3,"sneha")
print(students)

['anil', 'kumar', 'pallavi', 'sneha', 'pallavi', 'pallavi', 'pallavi', 'pallavi', 'sreya', 'keerthi', 'naveen']

In [35]:
print(students[4])

pallavi

In [ ]:
***$$$$ Difference between Insert and append in the list$$$$$$$********

ANS:  append: it adds elements at the end
      Insert: It add elements where we intend to add(the position first, second, or third)

In [ ]:
How to modify elements in a list
we can by showing the index
if we want to change the sneha to "meghana"

In [36]:
students[3]='meghana'
print(students)

['anil', 'kumar', 'pallavi', 'meghana', 'pallavi', 'pallavi', 'pallavi', 'pallavi', 'sreya', 'keerthi', 'naveen']

In [ ]:
How to delete the element in a list?
***delete

In [38]:
del students[1]
print(students)

['anil', 'pallavi', 'meghana', 'pallavi', 'pallavi', 'pallavi', 'pallavi', 'sreya', 'keerthi', 'naveen']

In [ ]:
Continution with list data types

Organising the list data type

In [39]:
cars=['benz','bmw','maruthi','kia','hyundai' ]
print(cars)

['benz', 'bmw', 'maruthi', 'kia', 'hyundai']

In [ ]:
# req Iwant toget in alphabitical order?
2 approaches
1. temporary approach- sorted (we can get the original order of the list assigned initially)
2. permanent approach-sort (changes implied permanently)

In [40]:
print(sorted(cars)) ## a,b,c,d,  once sorted the list is temporary.

['benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [ ]:
whenever the alphabet is same it will go and evaluate the nxt character

In [41]:
print(cars)  ###original list achieved even though it is sorted

['benz', 'bmw', 'maruthi', 'kia', 'hyundai']

In [44]:
##approach:
cars.sort()
print(cars)

['benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [ ]:
## now if we print cars again the changed list will be listed as the sort fuction is permanent

In [45]:
print(cars)

['benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [ ]:
####$$$$$$$***** difference between Sort and Sorted in List method?
sort---permanent change in list order
sorted--- temporary change in list order, only if the sorted executed we will get the list in alphabetical order but nxt execution it will revert back to original position

In [48]:
##  I want to print entire list in reverse order

cars.reverse()
print(cars)

['maruthi', 'kia', 'hyundai', 'bmw', 'benz']

In [49]:
## req: I want to know the count of no of elements in the list?
len(cars)

5

In [50]:
len(cars)

5

In [53]:
#Introduction to slicing of lists
students=['ravi','abdul','naveen','kumar','ruksana','simran']

##  General Syntax of Slicing:

#startvalue:stopvalue:stepcount
#stop value/last value is always exclusive     

##req:  I want to ravi and abdul in the below list output?
#print(students[0:1])

['ravi']

In [ ]:
#it is giving only Ravi . sice we want to have ravi and abdul we need to write list like this
##****stopvalue/lastvalue is always exclusive, if we want to include the stop value increment the index by +1

In [54]:
## req: I want to ravi and abdul in list
#print(students[0:1])

['ravi']

In [55]:
#print(students[0:2])

['ravi', 'abdul']

In [56]:
##req: I want to naveen and kumar in below list output?
#print(students[2:4])

['naveen', 'kumar']

In [61]:
#### Alternative list : To get
print(students[0:5:2])

['ravi', 'naveen', 'ruksana']

In [62]:
print(students[1:6:2])

['abdul', 'kumar', 'simran']